EMBEDDING_MODEL_NAME = "facebook/dinov2-small"
AI_HOST = "0.0.0.0"
AI_PORT = 8443 
QDRANT_HOST = "0.0.0.0"
QDRANT_PORT = 6333
DATA_DIR = ./data
IMAGES_PER_LABEL = 5
REQUEST_TIMEOUT = 10
MAX_RETRIES = 3
MAX_CONCURRENT_DOWNLOADS = 10
DEVICE = cpu
SAVE_IMAGES = ./images
IMAGE_BACKUP_DIR = ./image_backup
LOG_LEVEL = INFO
QDRANT_VERSION= v1.18.2
QDRANT_GRPC_PORT=6334 
QDRANT_LOG_LEVEL = INFO